.miniConditions {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgba(26, 26, 26, 0.2);
  border-radius: var(--border-radius);
  padding-block: 0.75rem;
  margin-block-start: 1.25rem;
  margin-block-end: 0.75rem;
}

.item {
  font-size: var(--font-size-cta);
  line-height: var(--line-height-cta);
  letter-spacing: var(--letter-spacing-cta);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-block-end: 0.75rem;
  padding-block-end: 0.75rem;
  padding-inline: 0.5rem;
  border-bottom: 1px solid rgba(26, 26, 26, 0.2);
  &:last-of-type {
    border-bottom: none;
    margin-block-end: 0;
    padding-block-end: 0;
  }
  span {
    display: flex;
    gap: 0.25rem;
  }

  svg {
    width: 1.5rem;
    display: block;
  }
  &:empty {
    display: none;
  }
}

.units {
  > div {
    line-height: 1.5;
    min-width: 2.25rem;
  }
}

span.roadName {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.roadContainer {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.roadStatusIcon {
  width: 0.75rem;
  height: 0.75rem;
  transform: translateY(0.4rem);
}

.roadStatus {
  color: var(--text-graphics-secondary);
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
  letter-spacing: var(--letter-spacing-caption);
}
