.submenuDescription {
  font-family: var(--font-serif);
  font-size: var(--font-size-s2);
  letter-spacing: var(--letter-spacing-s2);
  line-height: var(--line-height-s2);
  max-width: 26ch;
}

.menuButton {
  padding-block: 0.5rem;
  align-self: flex-end;
}

.link {
  position: relative;
  font-size: var(--font-size-cta);
  letter-spacing: var(--letter-spacing-cta);
  line-height: var(--line-height-cta);
  text-decoration: none;
}
