h1,
.h1 {
  font-family: var(--font-headline);
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  letter-spacing: var(--letter-spacing-h1);
  margin-block-start: 1.5rem;
  margin-block-end: 3rem;
  text-transform: uppercase;
}

h2,
.h2 {
  font-family: var(--font-headline);
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  letter-spacing: var(--letter-spacing-h2);
  margin-block-start: 1.5rem;
  margin-block-end: 1.5rem;
  text-transform: uppercase;
}

h3,
.h3 {
  font-family: var(--font-headline);
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  letter-spacing: var(--letter-spacing-h3);
  margin-block-start: 1.5rem;
  margin-block-end: 0.75rem;
  text-transform: uppercase;
}

h4,
.h4 {
  font-size: var(--font-size-s1);
  line-height: var(--line-height-s1);
  letter-spacing: var(--letter-spacing-s1);
  margin-block-start: 1.5rem;
  margin-block-end: 0rem;
  font-weight: normal;
}

h5,
.h5 {
  font-size: var(--font-size-s1);
  line-height: var(--line-height-s1);
  letter-spacing: var(--letter-spacing-s1);
  margin-block-start: 1.5rem;
  margin-block-end: 0rem;
  font-weight: normal;
}

p,
ul,
ol,
pre,
table,
blockquote {
  margin-block-start: 0;
  margin-block-end: 1.5rem;
  font-size: var(--font-size-p2);
  line-height: var(--line-height-p2);
  letter-spacing: var(--letter-spacing-p2);
  &:last-child {
    margin-block-end: 0;
  }
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-block: 0;
}
